h1, h2, h3{
  margin: 0
}
body{
  font-family: 'helvetica neue', helvetica, 'Microsoft Yahei', 微软雅黑, 'Hiragino Sans GB', 冬青黑体, 'WenQuanYi Micro Hei', 文泉驿微米黑, sans-serif;
}
#header-content{
  margin: 0 auto;
  top: 67%;
  position: absolute;
  font-size: 12px;
  width: 100%;
  text-align: center;
  color: rgb(191, 192, 191);
}
.bg-img{
  max-width: 100%;
}
#header-bg-img, #sec2-bg{
}
#header-img{
  max-width: 26%;
  position: absolute;
  top: 25%;
  left: 37%;
}
#section1, #section3{
  background-color: rgb(234, 239, 240);
}
#section1{
  height: 520px;
}
#section3{
  height: 680px;
}
#sec1-content{
  width: 1000px;
  margin: 0 auto;
  padding-top: 70px;
}
#sec1-content .secbox{
  width: 245px;
  display: inline-block;
  text-align: center;
}
#sec1-content .secbox img{
  display: block;
  width: 150px;
  margin: 0 auto;
}
.sec-content{
  width: 800px;
  margin: 0 auto;
}
.sec-title{
  display: block;
  height: 70px;
}
#section1 .sec-title, #section3 .sec-title {
  padding-top: 100px;
  margin: 0 auto;
}
#section2 #sec2-content{
  max-width: 80%;
  display: block;
  position: absolute;
  left: 12%;
  margin-top: -300px
}
#section2 #sec2-content p{
  line-height: 0.6;
  padding-left: 8px;
}
#section3{
  text-align: center;
}
#section1, #section2, #section3{
  color: rgb(66, 82, 94);
}
#footer{
  height: 137px;
  background-color: rgb(15, 21, 27);
  color: rgb(179, 179, 179);
  text-align: center;
  padding-top: 40px;
}
#footer p{
  font-size: 17px;
  line-height: 0.9;
}
