h1, h2, h3{
  margin: 0
}
body{
  font-family: 'helvetica neue', helvetica, 'Microsoft Yahei', 微软雅黑, 'Hiragino Sans GB', 冬青黑体, 'WenQuanYi Micro Hei', 文泉驿微米黑, sans-serif;
}

#header-wrapper{
  //background-color: rgb(14, 20, 32);
  background-color: rgb(9, 9, 17);
}
#header {
  background-image: url("../images/header-bg.jpeg");
  background-repeat: no-repeat;
  height: 560px;
  width: 1377px;
  margin: 0 auto;
  color: white;
}
#header-content{
  padding-top: 20px;
  width: 1060px;
  margin: 0 auto;
}
#header-content h1{
   display: inline;
   float: left;
}
#topbar{
  float: right;
  list-style-type: none;
  margin: 0;
}
#topbar li{
  float: left;
  padding-left: 15px;
}
#section1{
  height: 460px;
}
#section2, #section3, #section4{
  height: 520px
}
#section2, #section4{
  background-color: rgb(240, 240, 240);
}
.sec-content{
  width: 800px;
  margin: 0 auto;
}
.sec-title{
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}
.sec2-box{
  margin-left: 120px;
  width: 200px;
  height: 185px;
  float: left;
  text-align: center;
  margin-right: 50px;
}
.sec2-box div{
  height: 120px;
}
.sec2-box img{
  display: block;
  margin: 0 auto;
}
.sec3-box{
  margin-left: 120px;
  width: 200px;
  height: 185px;
  float: left;
  text-align: center;
  margin-right: 50px;
  padding-top: 25px;
}
.sec3-box img{
  display: block;
  margin: 0 auto;
  padding-bottom: 22px;
}
.sec3-box p{
  font-size: 14px;
  color: #777;
}
#section4{
  text-align: center;
}
.sec4-box{
  width: 150px;
  height: 185px;
  display: inline-block;
  text-align: center;
  margin-right: 50px;
  padding-top: 15px;
}
.sec4-box img{
  padding-top: 10px;
  display: block;
}
.sec4-box p{
  color: black!important;
}
#section4 p{
  font-size: 14px;
  color: #777;
}
#footer{
  background-image: url("../images/footer-bg.jpeg");
  background-repeat: no-repeat;
  width: 997px;
  height: 227px;
  margin: 0 auto;
  color: white;
  font-size: 14px;
}
#footer h2{
  float: right;
  padding-top: 25px;
  padding-right: 90px;
}
#footer ul{
  padding-top: 90px;
  list-style-type: none;
}
#footer ul li{
  display: block;
}
#footer ul li div{
  display: inline-block;
}
#footer ul p{
  display: inline-block;
  margin: 0;
}
#footer ul img{
  padding-top: 3px;
}
#footer-wrapper{
  background-color: rgb(7, 18, 31);
}
